@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
